.resources__logo-zone {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 80px 0 0 0;
  padding: 0;
  /*
    Намеренное отхождение от макета в котором задано width: 1100px
    1. В макете указано, что 4 элемента списка занимают все пространство родительского контейнера равномерно деля его ширину в долях 1/4
    2. Ширина одного элемента списка указана как 270
    3. Но 270 * 4 == 1080 != 1100
    4. Задав значение 1080 получил полное соотвествие макету (Проверка: финальный "символ" певрого логотипа должен быть параллелен букве "о" 
    из слова "Больше", а первый "символ" четвертого логотипа должен "начинаться" сразу после слова "обучения" идущего выше.
  */
  width: 1080px;
}